
@{
    ViewBag.Title = "Error";

}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <h3 align="center" class="text-danger"><b>@ViewBag.Title.</b></h3>
                        <h3 class="text-danger" style="text-align: center;">Sorry, you are not authorized to access the application.</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
